* {
    padding: 0px;
    margin: 0px;
    background-color: #414141;
    color: #adadad;

}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #adadad;
    padding: 20px;
    text-align: center;
}

/* .main_title {

} */

.description {
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */
    font-weight: 300;
    color: #adadad;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img {
    width: 200px;
    height: 350px;
    overflow: hidden;
}
.img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}